@media screen and (max-width: 600px) {
  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .skillss{
    grid-template-columns: 1fr;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  header {
    padding: 20px 10px;
  }
  header a{
    display: none;
  }
  header .menu-btn {
    display: block;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 400px) {
  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .skillss{
    grid-template-columns: 1fr;
  }
  .profile-box {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  .hero {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding: 30px 50px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 10px;
  }
  header {
    padding: 20px 10px;
  }
  header a {
    display: none;
  }
  header .menu-btn {
    display: block;
    padding: 0px 10px;
  }
  header h2 {
    font-size: 18px;
  }
}
